@keyframes push {
	0% { transform: scale(1); }
	10% { transform: scale(.8); }
	70% { transform: scale(1); }
}

* {
	font-weight: normal;
	font-style: normal;

	margin: 0;
	padding: 0;

	outline: none;
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
*:focus {
	outline: 2px solid var(--color-primary);
	outline-offset: 2px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
fieldset,
img {
	border: none;
}
html {
	font-size: 16px;

	--color-bg: #181C1F;
	--color-bg-add: #21262D;
	--color-bg-tooltip: #22272e;
	--color-text: #FFFFFF;
	--color-border: #374151;
	--color-primary: #f18812;
}
body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
	background: var(--color-bg);
	font-family: 'Space Mono', monospace;
}

input {
	font-size: 24px;
	color: var(--color-text);
	background: transparent;
	border: 1px solid var(--color-border);
	width: 100%;
	padding: 16px;
	border-radius: 5px;
	height: 60px;
	appearance: none;
	box-shadow: none;
}

input::placeholder {
	color: var(--color-text);
	opacity: 1;
}
.tweb-icon-component {
	width: 740px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
}

.tweb-icon-component__search {
	padding-top: 20px;
	padding-bottom: 20px;
	position: sticky;
	top: 0;
	background: var(--color-bg);
	z-index: 3;
}

.tweb-icon-component__icons {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.tweb-icon-component__icons .components-button {
	width: 50px;
	height: 50px;
	background: var(--color-bg-add);
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	color: var(--color-text);
	transition: color .05s cubic-bezier(0.16, 1, 0.3, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.tweb-icon-component__icons .components-button::before {
	position: absolute;
	bottom: calc(100% - 22px);
	content: attr(data-tooltip);
	background-color: var(--color-bg-tooltip);
	border-radius: 2px;
	padding: 3px 8px;
	font-size: 12px;
	box-shadow: rgb(55, 65, 81) 0px 0px 0px 1px inset;
	z-index: 3;
	white-space: nowrap;
	transition: .05s cubic-bezier(0.16, 1, 0.3, 1);
	height: 20px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	color: var(--color-text);
}
.tweb-icon-component__icons .components-button:hover:before {
	bottom: calc(100% + 2px);
	visibility: visible;
	opacity: 1;
}

.tweb-icon-component__icons .components-button svg {
	transition: .05s cubic-bezier(0.16, 1, 0.3, 1);
	pointer-events: none;
}
.tweb-icon-component__icons .components-button:active svg {
	animation-name: push;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
.tweb-icon-component__icons .components-button:hover {
	color: var(--color-primary);
}
.tweb-icon-component__icons .components-button:hover svg {
	width: 44px;
	height: 44px;
}